*{
  color: #72879C;
}

.table-container{
  background-color: white;
  border: 1px solid #D9DEE4;
  display: flex;
  flex-direction: column;
}

.items-search{
  display: flex;
  margin: 1rem 2rem;
  justify-content: space-between;
}

.items-search select, input{
  height: 2rem;
  text-align: center;
  background-color: white;
  border: 1px solid #CCCCCC;
}

.items-search select{
  width: 5rem;
}

.items-search input{
  width: 10rem;
}

.items-search div{
  display: flex;
  align-items: center;
  gap: .5rem;
}

table {
  border-collapse: collapse;
  margin: 0 2rem;
}

th, td {
  padding: 8px;
  text-align: left;
}

th{
  border-bottom: 2.5px solid #DDDDDD; /* Bordes inferiores más oscuros para los títulos */
}

td {
  border-bottom: 1px solid #ccc; /* Bordes inferiores para las filas */
}

.pagination{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  margin: .5rem 3rem 3rem;
}

.pagination div{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2rem;
}

.pages{
  border-radius: .3rem;
  padding: .5rem;
  background-color: #DDDDDD;
}

.pages button{
  border-radius: .3rem;
  border: none;
  cursor: pointer;
  background-color: #DDDDDD;
}

.boton{
  padding: .2rem .5rem;
  gap: .5rem;
  cursor: pointer;
  background-color: #7CB526;
  border: 1px solid #aaa;
  width: fit-content;
  display: flex;
  align-items: center;
}


.boton span{
  color: white;
}

.title{
  margin: .5rem 1rem 1rem;
  border-bottom: 1px solid #D9DEE4;
  padding: 1rem 0;
  font-weight: bold;
  display: flex;
  gap: .5rem;
}


.action-buttons-container{
  display: flex;
  gap: 1.5rem;
}

.action-buttons{
  cursor: pointer;
  padding: .3rem .5rem;
  color: white;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #7CB526;
  border: 1px solid #7CB526;
}

.action-buttons:hover{
  background-color: white;
  color: #7CB526;
}

/* Para el icono en el span */
.verify::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/white-verify.svg');
  background-size: cover;
}

/* para el icono en el span cuando este el hover  */
.verify:hover::before{
  background-image: url('../../assets/img/verify.svg');
}

.show-more::before{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/white-show.svg');
  background-size: cover;
}

.show-more:hover::before{
  background-image: url('../../assets/img/green-show.svg');
}

/* .pagination button , .pagination select{
  border: none;
  cursor: pointer;
  height: 100%;
  width: 2rem;
  background-color: #fff;
} */

/* .pagination button:nth-child(1){
  border-radius: .3rem 0  0 .3rem;
}

.pagination button:nth-child(3){
  border-radius: 0 .3rem .3rem 0;

} */

/* .pagination select{
  width: 4rem;
  text-align: center;
} */

/* Para el 2do div de .pagination y para el select de .pagination */
/* .pagination > div:nth-child(2), .pagination select{
  background-color: white;
  border: 1px solid #aaa;
  border-radius: .3rem;
  box-shadow: 0 1px 0 1px #202a62a5;
  } */



.alert-verificationDetails {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 20px; */
  background-color: white;
  color: black;
  z-index: 1000;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  min-width: 40%;
  overflow: hidden;
}

.alerta-titulo {
  font-size: 24px;
}

.c-white{
  color: white;
}

.alerta-mensaje {
  margin: 20px;
}

.alerta-boton {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #555;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verificando-indicador {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  color: #515150;
  text-align: left;
  z-index: 1000;
  background-color: #b8ff6b;
  width: 7.4rem;
  padding: 10px;
}

.verificando-indicador .puntos {
  color: #515150;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: puntos 1.5s steps(3, end) infinite;
}

@keyframes puntos {
  0%, 100% { width: 0; }
  25% { width: 0.5em; }
  50% { width: 1em; }
  /* 75% { width: 1.5em; } */
}

.alert-header{
  color: white;
  background-color: #202A62;
  padding: 1rem;
}

.alert-body{
  margin: 1rem;
  overflow: auto;
}

.alert-button {
  cursor: pointer;
  padding: 5px 20px;
  color: white;
  background-color: #202A62;
  border: 1px solid #202A62;
  float: right;
}

.alert-button:hover {
  color: #202A62;
  background-color: white;
}

.background
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.verifcation-opction{
  display: flex;
  gap: 1rem;
}

.alert-body-content
{
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding: 1rem;
  justify-content: center;
}
