
<div class="navbar-container"  >

  <div class="left">
    <img style="width: 25px; height: 25px;" (click)="toggle()"  src="../../assets/img/menu.svg" alt="Menu">
  </div>

  <div class="right">

    <div class="option-container">
      <img width="20" height="20" src="../../assets/img/notification.svg" alt="Notificaciones">
    </div>

    <div  class="option-container userButton" (click)="show()" [ngClass]="{'active': showUserMenu}">
      <img width="20" height="20" class="userButton" src="../../assets/img/user.svg" alt="Usuario">
      <span class="userButton">...</span>
    </div>

    <div id="menuDesplegable" [hidden]="!showUserMenu">
      <ul>
        <li>hola bb</li>
        <li (click)="logout()">
          <p>Cerrar sesión</p>
          <img width="20" height="20" src="../../assets/img/logout.svg" />
        </li>
      </ul>

    </div>
  </div>




</div>


