
<header>
  <app-seo-icon></app-seo-icon>
</header>

<main >

  <div class="auth-reg-container " >
    <p class="focus">Autenticarse </p>
    <p>|</p>
    <p>Registrarse</p>
  </div>

  <form [formGroup]="login" (ngSubmit)="onSubmit()">
    <div>
      <input class="form-input" type="text" formControlName="username" name="username" placeholder="usuario" >
    </div>
    <div>
      <input class="form-input" type="password" formControlName="pass" name="pass" placeholder="contraseña" >
    </div>
    <div >
      <input class="form-submit paddin" type="submit" value="&gt;">
    </div>
  </form>


  <div class="forgot-pass">
    <p>Olvidé mi contraseña</p>
  </div>

</main>


<!-- <router-outlet><router-outlet /> -->

<!-- <section class="borde">

  @if(log){

    <p> Hola {{username}} </p>

    <img (click)="greet()" alt="photo" src="https://github.com/lacho06.png" />
  }@else{

    <p>Inicia sesion</p>
<button (click)="log = true"> Autenticar </button>
  }


  <ul>
    @for (dato of variosdatos; track dato.id){
      <li>
        {{dato.name}}
      </li>
    }
  </ul>

</section>



<app-borrar username="{{username}}"></app-borrar> -->
