
<header>
  <app-seo-icon></app-seo-icon>
</header>

<main >

  <div class="auth-reg-container " >
    <p class="focus">Autenticarse </p>
    <p>|</p>
    <p>Registrarse</p>
  </div>

  <form [formGroup]="login" (ngSubmit)="onSubmit()">
    @if(error){
      <div class="error">
        <p>{{message}}</p>
      </div>
    }

    <div>
      <input class="form-input" type="text" formControlName="username" name="username" placeholder="usuario" required>
    </div>
    <div>
      <input class="form-input" type="password" formControlName="pass" name="pass" placeholder="contraseña" required>
    </div>
    <div >
      <input class="form-submit paddin" type="submit" value="&gt;">
    </div>
  </form>


  <div class="forgot-pass">
    <p>Olvidé mi contraseña</p>
  </div>

</main>



