/* CSS del desplegable */
.desplegable-container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: aquamarine;
  margin: 1rem auto;
}

.desplegable-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desplegable-body {
  max-height: 0;
  overflow: hidden;
  transition:  max-height .1s ease,  padding .1s ease;
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.desplegable-body.open{
  max-height: 700px;
  padding: 30px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transition: transform 0.5s;
}

.arrow.down {
  transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
}
