/* You can add global styles to this file, and also import other style files */
/* Estilos globales para todos los componentes */
@font-face {
  font-family: semicomoon;
  src: url(./assets/fonts/semicomoon.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

:root {
/* color-scheme: ligth dark; */
}

.borde{
  border: 2px solid black;
}

.bold{
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

